#form {
    display: none;
}

img {
    width: 200px;
}

div p {
    background-color: #99db6d;
    margin: 3px 0;
    padding: 5px;
}

.bg {
    background-color: bisque;
    padding: 10px;
}

#show {
    display: none;
}

a {
    text-decoration: none;
    color: rgb(7, 31, 11);
    font-weight: 600;
    
}
